<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /visibility2/app/

RewriteCond %{HTTP:Authorization} ^(.*)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

# ------------------------------
# EXCLUIR API MOBILE DEL ROUTER
# ------------------------------
RewriteCond %{REQUEST_URI} ^/visibility2/app/api/mobile/ [NC]
RewriteRule ^ - [END]

# ------------------------------
# SERVIR ARCHIVOS REALES
# ------------------------------
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# ------------------------------
# OCULTAR EXTENSION .php
# ------------------------------
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# ------------------------------
# FRONT CONTROLLER (SPA / Router)
# ------------------------------
RewriteCond %{REQUEST_URI} !^/visibility2/app/index\.php$
RewriteRule ^ index.php [L]

</IfModule>