<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /visibility2/portal/

# ---------------------------
# 1) PERMITIR APIs SIEMPRE
# ---------------------------
RewriteCond %{REQUEST_URI} ^/visibility2/portal/api_ [NC]
RewriteRule ^ - [L]


# ---------------------------
# 3) ARCHIVOS REALES
# ---------------------------
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# ---------------------------
# 4) FRONT CONTROLLER
# ---------------------------
RewriteRule ^ index.php [L]

</IfModule>
